@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');

:root{
  --font-family: 'JetBrains Mono', monospace;
  --bg-color: #F2E3DB;
  --primary-color: #263A29;
  --secondary-color: #E86A33;
  --third-color: #ebc172;
  --nav-color:  #000000;
}

.dark-mode{
  --bg-color: #1a1d1b;
  --primary-color:#F2E3DB;
  --secondary-color: #ebc172;
  --third-color: #416146; 
  --nav-color:  #ffff;
}

body{
  background-color: var(--bg-color);
  transition: 1s;
}

nav{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.fa-moon{
  color: var(--nav-color)
}

.fa-sun{
  color: var(--nav-color)
}

.fa-rotate-right{
  color: var(--nav-color);
}

.botaoDarkMode{
  display: block;
  font-size: 4em;
  position: relative;
  margin: 2%;
  padding: 40px;
  cursor: pointer; 
}

.btnRestart{ 
  display: block;
  font-size: 4em;
  position: relative;
  margin: 2%;
  padding: 40px;
  cursor: pointer; 
}

#btn {
  display: none;
}

#btnRestart{
  display: none;
}

main{
  color: var(--primary-color);
  font-family: var(--font-family);
  font-weight: bold;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 0;
}

.titulo-box{
  background-color: var(--third-color);
  padding: 0.5rem;
  border-radius: 1rem;
  margin-bottom: 1em;
}

h1{
  font-size: 3em;
}

h3{
  font-size: 1.2em;
  padding-top: 5px ;
  border-top: outset 2px var(--third-color);
  margin-bottom: 1em;
}

h3 span{
  color: var(--secondary-color);
}

.mensagem{
  font-size: 1.2em;
  margin-top: 2em;
}

.box{
  display: inline-block;
  padding: 3%;
  margin: 0.5em;
  font-size: 3em;
  color: var(--secondary-color);
  border: outset 10px var(--primary-color);
  border-radius: 0.5rem;
  box-shadow: 1em;
}

.dica{
  font-size: 1em;
}

